<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="animate.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <title>Phản Ánh</title>
    <style type="text/css">

    </style>
</head>

<body>
    <nav class="navbar fixed-top pkl">
        <ul class="nav ">
            <li class="nav-item dropdown">
                <a class="nav-link white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bars"></i>
                </a>
                <div class=" dropdown-menu animated fadeInLeft" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/loginok">Phản Ánh</a>
                    <a class="dropdown-item" href="/b">Thống Kê</a>
            </li>
        </ul>
        <div class="icon col-md-6 col-sm-10 afk1">
            <form action="/search" style="margin:0;">
                <input class="form-control  " name="id" name="loai" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>
        <ul class="nav justify-content-end align-self-end">
            <li class="nav-item dropdown afk">
                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link white"><i class="notika-icon notika-search"></i></a>
                <div role="menu" class="dropdown-menu animated zoomIn">
                    <form action="/search" style="margin:0;">
                        <input type="text" name="id" id="">
                    </form>
                </div>
            </li>
            <li class="nav-item">
                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link white"><i class="notika-icon notika-mail"></i></a>
                <div role="menu" class="dropdown-menu  animated zoomIn">
                    <div class="hd-mg-tt">
                        <h2>Messages</h2>
                    </div>
                    <div class="hd-mg-va">
                        <a href="#">View All</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link white"><span><i class="notika-icon notika-support"></i></span></a>
                <div role="menu" class="dropdown-menu animated zoomIn">

                    <a class="dropdown-item" href="#">Action</a>
                </div>
            </li>
        </ul>
        </div>
    </nav>
    <style>

    </style>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block sidebar">
                <div class="sidebar-sticky footer-edit">
                    <ul class="nav flex-column">
                        <li class="nav-item activea">
                            <!-- <img src="Untitled-1.png" alt="" style="height: 100px;width: 200px;"> -->
                            <a class="nav-link content-footer " href="/loginok">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>                                Phản Ánh <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link content-footer thongke " href="/b">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>                                Thống Kê <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>


            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 margin50">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 ">
                    <div class="container">
                        <div class="card-columns">
                            <% danhsach.rows.forEach(function(sv){%>


                                <div class="card">
                                    <img class="card-img-top" src="<%= sv.hinh_anh %>" alt="Card image top">
                                    <div class="card-body btn-body">
                                        <div class="row">
                                            <h3 class="card-title col-md-10 col-10">
                                                <%= sv.tieu_de %>
                                            </h3>
                                            <p class="id col-md-2 col-2">
                                                Id:
                                                <%= sv.id %>
                                            </p>
                                        </div>
                                        <p class="card-text"><small class="text-muted"><%= sv.createdAt %></small></p>
                                        <a href="/suli/<%= sv.id %>" class="card-link btn btn-card"><em> Chi tiết:</em></a>
                                        <%if(sv.tien_do == 100){ %>
                                            <a href="#" class="btn btn-primary float-right">
                                               active
                                            </a>
                                            <% }else if(sv.tien_do >= 1 && sv.tien_do <=99) { %>
                                                <a href="#" class="btn btn-warning float-right">
                                                    processing

                                             </a>
                                                <% }else{ %>
                                                    <a href="#" class="btn btn-danger float-right">
                                                        inactive
                                                     </a>
                                                    <%} %>

                                    </div>
                                </div>
                                <%})%>

                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>
</body>

</html>